.content-wrapper {
  margin:0 auto;
  width:1080px;
}
nav {
  padding-right: 10px;
}
nav > ul {
  padding-left: 0;
}
nav > ul > li {
  padding-bottom: 5px;
  list-style: none;
}

main {
  display: flex;
}
footer {
  display:flex;
  justify-content: space-between;
}
.course-logo {
  height:30px;
}

.code-sample {
  font-size:0.8em;
  height:300px;
  overflow: auto;
}